.header-wrap__img--berlin{
    height: 320px;
    background-image: url(../img/package-1-1024x640.jpg);
    background-position: center top;
    background-size: cover;
    width: 100%;
    position: absolute;
    
}

.header-wrap__img--berlin::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(85,85,85,0.3);
    position: absolute;
}

.header-berlin-pos{
    position: absolute;
    bottom: -160px;
    left: 154px;

}   

.header-berlin-name{
    font-size: 3.5rem;
    color: var(--white-color);
    font-weight: bold;
    margin-bottom: 26px;
}

.header-berlin-time{
    letter-spacing: 2px;
    font-weight: 300;
    display: flex;
}

.header-berlin-time i{
    margin-right: 8px;
}

.header-berlin-continent{
    text-decoration: none;
    color: var(--white-color);
    margin-right: 32px;
    font-size: 1.5rem;

}

.header-berlin-day{
    color: var(--white-color);
    font-weight: 300;
    font-size: 1.5rem;

}

